<div class="search-div" onclick="handleSearchboxClick()">
    <img class="search-image" src="{{{uiRootPath}}}/img/search.svg"/>
    <input class="search-field" type="text" value="" autocomplete="off" />
</div>
<div class="body">
{{> nav}}
{{> main}}
</div>
